{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'cursos/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troconhecimento</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Barra de Navegação do Bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Troconhecimento</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'perfil_usuario' %}">Olá, {{ user.username }}!</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'criar_curso' %}" class="btn btn-success my-2 my-sm-0" role="button">+ Criar Curso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="position: relative;">
                                    <span class="badge badge-pill badge-success" style="position: absolute; top: -5px; right: -5px;">
                                        {{ user.profile.creditos }}
                                    </span>
                                    Créditos
                                </a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link text-white">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Registrar</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'lista_cursos' %}">Todos os Cursos</a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for categoria in categorias %}
                                <a class="dropdown-item" href="{% url 'categoria_cursos' categoria %}">{{ categoria }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <form class="form-inline my-2 my-lg-0" action="{% url 'buscar_curso' %}" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Cursos" aria-label="Search" name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="py-4">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">GRUPO 7 - Projeto Integrador 5 - SENAC EAD <span id="year"></span></span>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
