{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    
    <!-- Seção de Boas-Vindas -->
    <section class="welcome-section mb-5">
        <h1 class="text-center mb-3">Bem-vindo ao Troconhecimento</h1>
        <p>Explore. Aprenda. Cresça. Bem-vindo ao Troconhecimento, a sua plataforma de troca de conhecimento. Aqui, acreditamos que a educação é uma via de mão dupla, onde ensinar é tão enriquecedor quanto aprender. Comece hoje mesmo a explorar cursos variados, compartilhar suas habilidades e expandir seus horizontes. Cada curso que você oferece abre a porta para novas oportunidades de aprendizado. Junte-se a nós nessa jornada de aprendizado contínuo!</p>
    </section>
    
    <!-- Seção da Comunidade -->
    <section class="community-section mb-5">
        <h2 class="text-center mb-3">Aprenda com a Comunidade</h2>
        <p>Conecte-se e Cresça Junto. No Troconhecimento, cada curso que você se inscreve é uma semente plantada no jardim do seu desenvolvimento pessoal e profissional. Mas não é só isso; é também uma ponte que conecta você a mentes curiosas e apaixonadas. Com cada like, cada feedback, você não apenas avança no seu caminho, mas ajuda a guiar os passos de outros. Nossa comunidade é o nosso maior valor – e você é parte essencial dela.</p>
    </section>
    
    <!-- Seção de Compartilhamento de Conhecimento -->
    <section class="sharing-knowledge-section">
        <h2 class="text-center mb-3">Compartilhe Seu Conhecimento</h2>
        <p>Seu Conhecimento Tem Valor. Tem uma habilidade única? Uma paixão que poderia inspirar? No Troconhecimento, nós damos valor a isso. Transforme sua expertise em cursos que não apenas educam, mas também motivam. Ao compartilhar o que sabe, você ganha créditos para descobrir novos horizontes oferecidos por outros criadores. Aqui, seu conhecimento transforma-se em moeda de troca valiosa, alimentando um ciclo virtuoso de aprendizado e compartilhamento.</p>
    </section>
    
</div>
{% endblock %}
